/* Font from https://www.herofonts.com/ */ 
@font-face {
    font-family: "polar-vortex";
    src:
        url("fonts/polarvortex-raaa-webfont.woff") format("woff"),
        url("fonts/polarvortex-raaa-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

p {
    width: 53ch;
}

svg {
    width: 7vw;
    aspect-ratio: auto;
}

path {
    fill: white;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.content {
    background-color: white;
    flex: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 37vw;
    background-image: url("./deborah-diem-ds_NPvoAzro-unsplash.jpg");
    background-size: cover;
}

.sidebar p {
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
    width: auto;
}

.sidebar p:first-of-type {
    margin-top: auto;
}

.sidebar p a:link {
    color: whitesmoke;
}

.banner {
    display: flex;
    background-color: rgb(10 10 10 / 55%);
    margin-top: 25vh;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    color: white;
}

.company-name {
    width: 13ch;
    text-align: center;
    font:
        3rem "polar-vortex",
        monospace;
    letter-spacing: 0.25rem;
    -webkit-text-stroke: 0.25px #acc4e3;
}
