* {
    margin: 0px;
    padding: 0px;
}

p {
    width: 53ch;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.content {
    background-color: white;
    flex: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 37vw;
    background-image: url("./deborah-diem-ds_NPvoAzro-unsplash.jpg");
    background-size: cover;
}

.sidebar p {
    margin-top: auto;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}

.sidebar p a:link {
    color: whitesmoke;
}

.banner {
    display: flex;
    background-color: rgb(10 10 10 / 20%);
    margin-top: 25vh;
}
