/* Font from https://www.herofonts.com/ */
@font-face {
    font-family: "polar-vortex";
    src:
        url("fonts/polarvortex-raaa-webfont.woff") format("woff"),
        url("fonts/polarvortex-raaa-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

p {
    width: 53ch;
    font-family: "Helvetica", "Ariel", sans-serif;
    font-weight: bold;
}

svg {
    width: 7vw;
    aspect-ratio: auto;
}

path {
    fill: white;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.content {
    background-color: #F8F8FF;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 1.75rem;
}

.lp3 {
    padding-left: 3rem;
}

.mtb1-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

mb2 {
    margin-bottom: 2rem;
}

mp0 {
    margin: 0;
    padding: 0;
}

.content>p:first-child {
    margin-top: 20vh;
}

.form-organize {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
    justify-content: space-around;
    box-shadow: 3px 5px 5px lightgrey;
    margin-bottom: 2rem;
    background-color: white;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.form-entry {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 5vw 1.5rem 0;
    font-size: 1rem;
}

input {
    width: 20rem;
    font-size: 1.5rem;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding-left: 0.5rem;
}

input:focus,
input:focus-visible {
    border: 2px solid #1E4b62;
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.2);
    outline: none;
}

input:invalid {
    border: 2px solid red;
}

.actions {
    flex: 1;
    margin-bottom: 20vh;
    font-size: 1.25rem;
}

button {
    margin-bottom: 2rem;
    background-color: rgb(44, 112, 136);
    color: white;
    padding: 1rem 6rem;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

button:hover {
    transform: translateY(-7px);
    box-shadow: 2px 15px 20px rgba(44, 112, 136, 0.4);
    background-color: rgb(56, 114, 175);
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 37vw;
    background-image: url("./deborah-diem-ds_NPvoAzro-unsplash.jpg");
    background-size: cover;
}

.sidebar p {
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
    width: auto;
}

.sidebar p:first-of-type {
    margin-top: auto;
}

.sidebar p a:link {
    color: whitesmoke;
}

.banner {
    display: flex;
    background-color: rgb(10 10 10 / 55%);
    margin-top: 25vh;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    color: white;
}

.company-name {
    width: 13ch;
    text-align: center;
    font:
        3rem "polar-vortex",
        monospace;
    letter-spacing: 0.25rem;
    -webkit-text-stroke: 0.25px #acc4e3;
}
